<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:pattern {"slug":"hookandsail/hero-home-default"} /-->
<!-- wp:pattern {"slug":"hookandsail/categories"} /-->
<!-- wp:pattern {"slug":"hookandsail/locations"} /-->
<!-- wp:pattern {"slug":"hookandsail/icon-boxes"} /-->
<!-- wp:pattern {"slug":"hookandsail/listings"} /-->
<!-- wp:pattern {"slug":"hookandsail/banner-1"} /-->
<!-- wp:pattern {"slug":"hookandsail/testimonials"} /-->
<!-- wp:pattern {"slug":"hookandsail/posts"} /-->
<!-- wp:template-part {"slug":"footer"} /-->